$body_padding: 150px 0px;
$body_title_fontFamily: 'Roboto', sans-serif;
$body_title_color: #0C0E13;
$body_title_fontSize: 2.2em;
$body_title_marginBottom: 0.2em;
$body_title_fontWeight: bold;

.body {
	.title {
		font: {
			family: $body_title_fontFamily;
			size: $body_title_fontSize;
			weight: $body_title_fontWeight;
		}
		color: $body_title_color;
		margin-bottom: $body_title_marginBottom;
		text-align: center;
		display: block;
	}

	.section-body {
		p {
			margin-bottom: 0;
		}
	}

	.section-work {
		.row {
			border-bottom: 1px solid #d6e1e5;

			.project-title {
				font: {
					family: $body_title_fontFamily;
					weight: $body_title_fontWeight;
					size: 1.5em;
				}
				line-height: 1.3em;
				margin-bottom: 15px;
				a {
					color: $main_content_color;
					&:hover {
						color: $main_link_color;
					}
				}
			}

			.project-meta {
				ul {
					@include _reset();
					&.tag {
						li {
							list-style-type: none;
							background: #E74C3C;
							color: #FFF;
							font-size: 12px;
							padding: 3px 10px;
							margin: 3px 0;
							border: 1px solid #e2e2e2;
							display: inline-block;
						}
					}
				}
			}
		}

	}
	
}
.section-contact {
	padding: 70px 0;
}