/*
	Common styles for the site
*/
$main_background: #eeeeee;
$main_font_family: "Open Sans", sans-serif;
$main_link_color: #E74C3C;
$alternate_color: #0C0E13;

$main_content_color: #0B0C12;
$main_content_fontSize: 0.88em;
$main_content_lineHeight: 1.9em;

/* 
	Generic stuff, settings, etc.
*/
$_GLOBAL_TRANSITION: .3s;
$break_spacer_margin: 3.5em 0;

body {
	background: $main_background;
	font: {
		family: $main_font_family;
		size: $main_content_fontSize;
	};
}
::selection {
	color: #FFF;
	background-color: $alternate_color;
}
a,
a:hover,
a:focus,
a:visited {
	color: $main_link_color;
	text-decoration: none;
	padding-bottom: 3px;
	transition: $_GLOBAL_TRANSITION;
}
* {
	color: $main_content_color;
}
.break {
	margin: $break_spacer_margin;
}
.container {
	&.fixed {
		max-width: 900px;
	}
}