
.project {
	background: #0e0e0e;
	margin: 20px 0;
	position: relative;
	overflow: hidden;

	.project-face {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		transition: .6s;
	}
	.project-back {
		transition: .6s;
		position: absolute;
		width: 100%;
		background: pink;
	}

	&.slide-left {
		.project-back {
			right: -100%;
		}
	}

	&.slide-right {
		.project-back {
			left: -100%;
		}
	}

	&.slide-top {
		.project-back {
			top: -100%;
		}
	}

	&.slide-bottom {
		.project-back {
			bottom: -100%;
		}
	}

	&:hover {
		&.slide-left {
			.project-face {
				left: -100%;
			}
			.project-back {
				right: 0;
			}
		}
		&.slide-right {
			.project-face {
				left: 100%;
			}
			.project-back {
				left: 0;
			}
		}
		&.slide-top {
			.project-face {
				top: 100%;
			}
			.project-back {
				top: 0;
			}
		}
		&.slide-bottom {
			.project-face {
				top: -100%;
			}
			.project-back {
				bottom: 0;
			}
		}
	}

	&.project-large {
		height: 540px;
		.project-face {
			height: 540px;
		}
		.project-back {
			height: 540px;
		}
	}
	&.project-medium {
		height: 300px;
		.project-face {
			height: 300px;
		}
		.project-back {
			height: 300px;
		}
	}
	&.project-small {
		height: 220px;
		.project-face {
			height: 220px;
		}
		.project-back {
			height: 220px;
		}
	}
}
.example {
	&:hover {
		.image {
			.controls {
				opacity: 1;
			}
		}
	}
	.content {
		padding: 15px 10px 15px 0;
	}
	.title {
		font: {
			family: Roboto, sans-serif;
			size: 1.2em;
			weight: 400;
		};
		margin: 0;
		font-style: normal;
	}
	.image {
		position: relative;
		cursor: pointer;
		img {
			width: 100%;
			opacity: .6;
		}
		.controls {
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 100%;
			background: rgba(0,0,0, 0.5);
			opacity: 0;
			transition: $_GLOBAL_TRANSITION;
			.view {
				width: 42px;
				height: 42px;
				background: url(../images/icons/share.png);
				background-position: 50% 50%;
				position: absolute;
				bottom: 0;
				right: 0;
				float: right;
				background-repeat: no-repeat;
				border-radius: 100%;
				margin: 0 10px 10px 0;
				cursor: pointer;
			}
		}
	}
}