.example {
	&:hover {
		.image {
			.controls {
				opacity: 1;
			}
		}
	}
	.content {
		padding: 15px 10px 15px 0;
	}
	.title {
		font: {
			family: Roboto, sans-serif;
			size: 1.2em;
			weight: 400;
		};
		margin: 0;
		font-style: normal;
	}
	.image {
		position: relative;
		cursor: pointer;
		img {
			width: 100%;
			opacity: .6;
		}
		.controls {
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 100%;
			background: rgba(0,0,0, 0.5);
			opacity: 0;
			transition: $_GLOBAL_TRANSITION;
			.view {
				width: 42px;
				height: 42px;
				background: url(../images/icons/share.png);
				background-position: 50% 50%;
				position: absolute;
				bottom: 0;
				right: 0;
				float: right;
				background-repeat: no-repeat;
				border-radius: 100%;
				margin: 0 10px 10px 0;
				cursor: pointer;
			}
		}
	}
}