$hero_background_image: url(../images/bg.jpg);
$hero_background_image_repeat: no-repeat;
$hero_background_image_size: cover;
$hero_background_image_position: top center;
$hero_big_fontFamily: 'Open Sans', sans-serif;
$hero_big_fontSize: 55px;
$hero_big_color: #FFF;
$hero_big_lineHeight: 1.5em;

$hero_small_fontFamily: "Open Sans", sans-serif;
$hero_small_fontSize: 16px;
$hero_small_fontWeight: normal;
$hero_small_lineHeight: 26px;
$hero_small_color: #FFF;


.header {
	background-image: $hero_background_image;
	background-repeat: $hero_background_image_repeat;
	background-size: $hero_background_image_size;
	background-position: $hero_background_image_position;
	text-shadow: 2px 1px #0b0e13;
	height: 100vh;

	@include displayFlex();
	@include flexDirection(column);

    .container {
    	height: 100%;
		@include displayFlex();
		@include flexDirection(column);
    	@include flexWrap(wrap);
    }

    .hero {
		@include flex(1);
		@include displayFlex();
	    @include flexWrap(wrap);
	    align-items: center;
	    -ms-flex-align: center;
	    -ms-align-items: center;

		h1.big {
			font-family: $hero_big_fontFamily;
			font-size: $hero_big_fontSize;
			font-family: 'Roboto', sans-serif;
			color: $hero_big_color;
		    margin-top: 0;
		}

		h2 {
			color: $hero_small_color;
			font-family: $hero_small_fontFamily;
			font-size: $hero_small_fontSize;
			font-weight: $hero_small_fontWeight;
			line-height: $hero_small_lineHeight;
			padding-left: 3px;
			margin-bottom: .375em;
			display: block;
		    margin-top: 0;
		    max-width: 900px;
		}
	}

    .learn-more {
    	text-align: center;
    	font-size: 18px;
    	cursor: pointer;
    	span {
    		display: block;
    		line-height:20px;
    		font-size: 14px;
    		color: $hero_small_color;
    	}
    	i {
    		position: relative;
    		text-align:center;
    		width: 100%;
    		top: 0;
    		animation: bounce 2s infinite;
    		color: $hero_small_color;
    	}
    }
}
