@keyframes shake {
	0%, 100% {
		opacity: 0;
		//transform: rotate(-5deg);
	}
	50% {
		opacity: 1;
		//transform: rotate(5deg);
	}
}

@keyframes bounce {
	0%, 100% {
		top: 0px;
	}
	50% {
		top: 5px; 
	}
}