
// XL
@media(min-width: 1140px) {

}

// LG
@media(min-width: 960px) {

}

// MD
@media(min-width: 768px) {
	form {
		.button {
			text-align: left !important;
		}
	}
	
}
// SM
@media(min-width: 576px) {
	.header {
		padding: 0 50px;

		.menu {
			ul {
				text-align: right;
			}
		}

		.hero {
			.big {
				line-height: $hero_big_lineHeight;
		   		margin-bottom: 0;
			}
		}

		.learn-more {
			padding: 35px 0;
		}
	}
	.body {
		.space {
			padding: $body_padding;
		}
		.section-work {
			.row {
				padding: 130px 0;

				.description {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}

	form {
		.button {
			text-align: center;
		}
		.errors {
			line-height: 50px !important;
			i {
				float: none !important;
				margin: 0 5px 0 0 !important;
			}
		}
	}
}

// XS
@media(max-width: 576px) {
	.header {
		.menu {
			ul {
				text-align: center;
			}
		}
		.hero {
			.big {
				line-height: 1.2em;
				display: block;
				margin-bottom: 25px;
			}
		}
		.learn-more {
			padding: 35px 0 80px;
		}
	}
	.body {
		.space {
			padding: 75px 0;
		}
		.section-work {
			.row {
				padding: 80px 0;

				.description {
					padding-top: 20px;
					padding-bottom: 10px;
					.project-title {
						text-align: center;
					}
				}
			}
		}
	}
	form {

		.button {
			text-align: center;
		}
		.errors {
			line-height: 20px;
			margin-bottom: 15px;
			i {
				float: left;
				margin: 10px 10px 15px 0;
			}
		}
	}
}


@media all and (-ms-high-contrast: none) and (min-width: 1140px) {
	.hero {
		h2 {
			max-width: 900px;
		}
		max-height: 70% !important;
	}
}

@media all and (-ms-high-contrast: none) and (min-width: 960px) and(max-width: 1140px) {
	.hero {
		h2 {
			max-width: 800px !important;
		}
		max-height: 70% !important;
	}
}

@media all and (-ms-high-contrast: none) and (min-width: 768px) and(max-width: 960px) {
	.hero {
		h2 {
			max-width: 700px !important;
		}
		max-height: 70% !important;
	}
}

@media all and (-ms-high-contrast: none) and (min-width: 576px) and(max-width: 768px) {
	.hero {
		h2 {
			max-width: 500px !important;
		}
		max-height: 70% !important;
	}
}
@media all and (-ms-high-contrast: none) and (max-width: 576px) {
	.hero {
		h2 {
			max-width: 300px !important;
		}
	}
}