$menu_height: 90px;
$menu_background: #12161b;
$menu_link_color: #FFFFFF;
$menu_link_home_color: #17c0eb;
$menu_link_about_color: #3ae374;
$menu_link_work_color: #E74C3C;
$menu_link_contact_color: #F37;

.menu {
	height: 90px;

	&.sticky {
		background: #0C0E13;
		width: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0; 
		transition: $_GLOBAL_TRANSITION;
	}

	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			&.active {
				a {
					opacity: 1;
				}
				&.home {
					a {
						border-bottom: 3px solid $menu_link_home_color;
					}
				}
				&.about {
					a {
						border-bottom: 3px solid $menu_link_about_color;
					}
				}
				&.work {
					a {
						border-bottom: 3px solid $menu_link_work_color;
					}
				}
				&.contact {
					a {
						border-bottom: 3px solid $menu_link_contact_color;
					}
				}
			}
		}
	}
	a {
		color: $menu_link_color !important;
		height: $menu_height;
		line-height: $menu_height;
		display: block;
		opacity: .4;
		transition: $_GLOBAL_TRANSITION;
		cursor: pointer;
		padding: 0 15px;
		margin: 0 10px;
		border-bottom: 3px solid transparent;
		padding-bottom: 10px;
		-webkit-backface-visibility: hidden;
	}
}