/* Base Styles for Project Slider */
$project_slider_background: #0c0e13;
$project_slider_margin: 20px 0;
$project_slider_transition: .6s;
$project_slider_padding: 15px;

$project_slider_large_height: 540px;
$project_slider_medium_height: 300px;
$project_slider_small_height: 220px;

/* Hover Styles */
$project_slider_hover_background: pink;

.project {
	background: $project_slider_background;
	margin: $project_slider_margin;
	position: relative;
	overflow: hidden;

	.project-face,
	.project-back {
		position: absolute;
		width: 100%;
		padding: $project_slider_padding;
		transition: $project_slider_transition;
	}

	.project-face {
		left: 0;
		top: 0;
		bottom: 0;

		.content {
			padding: 15px 10px 15px 0;
		}

		.title {
			font: {
				family: Roboto, sans-serif;
				size: 1.2em;
				weight: 400;
			};
			margin: 0;
			font-style: normal;
		}
		.image {
			position: relative;
			cursor: pointer;
			img {
				width: 100%;
				opacity: .6;
			}
			.controls {
				position: absolute;
				width: 100%;
				bottom: 0;
				height: 100%;
				background: rgba(0,0,0, 0.5);
				opacity: 0;
				transition: $_GLOBAL_TRANSITION;
				.view {
					width: 42px;
					height: 42px;
					background: url(../images/icons/share.png);
					background-position: 50% 50%;
					position: absolute;
					bottom: 0;
					right: 0;
					float: right;
					background-repeat: no-repeat;
					border-radius: 100%;
					margin: 0 10px 10px 0;
					cursor: pointer;
				}
			}
		}

	}

	.project-back {
		background: $project_slider_hover_background;
	}

	&.slide-top {
		.project-back {
			top: -100%;
		}
	}

	&.slide-right {
		.project-back {
			left: -100%;
		}
	}

	&.slide-bottom {
		.project-back {
			bottom: -100%;
		}
	}

	&.slide-left {
		.project-back {
			right: -100%;
		}
	}

	&:hover {
		&.slide-top {
			.project-face {
				top: 100%;
			}
			.project-back {
				top: 0;
			}
		}
		&.slide-right {
			.project-face {
				left: 100%;
			}
			.project-back {
				left: 0;
			}
		}
		&.slide-bottom {
			.project-face {
				top: -100%;
			}
			.project-back {
				bottom: 0;
			}
		}
		&.slide-left {
			.project-face {
				left: -100%;
			}
			.project-back {
				right: 0;
			}
		}
	}

	&.project-large {
		height: $project_slider_large_height;
		.project-face,
		.project-back {
			height: $project_slider_large_height;
		}
	}

	&.project-medium {
		height: $project_slider_medium_height;
		.project-face,
		.project-back {
			height: $project_slider_medium_height;
		}
	}

	&.project-small {
		height: $project_slider_small_height;
		.project-face,
		.project-back {
			height: $project_slider_small_height;
		}
	}
}