@keyframes shake {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 100% {
    top: 0px;
  }
  50% {
    top: 5px;
  }
}
/*
	Common styles for the site
*/
/* 
	Generic stuff, settings, etc.
*/
body {
  background: #eeeeee;
  font-family: "Open Sans", sans-serif;
  font-size: 0.88em;
}

::selection {
  color: #FFF;
  background-color: #0C0E13;
}

a,
a:hover,
a:focus,
a:visited {
  color: #E74C3C;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.3s;
}

* {
  color: #0B0C12;
}

.break {
  margin: 3.5em 0;
}

.container.fixed {
  max-width: 900px;
}

.menu {
  height: 90px;
}
.menu.sticky {
  background: #0C0E13;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transition: 0.3s;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu ul li {
  list-style-type: none;
  display: inline-block;
}
.menu ul li.active a {
  opacity: 1;
}
.menu ul li.active.home a {
  border-bottom: 3px solid #17c0eb;
}
.menu ul li.active.about a {
  border-bottom: 3px solid #3ae374;
}
.menu ul li.active.work a {
  border-bottom: 3px solid #E74C3C;
}
.menu ul li.active.contact a {
  border-bottom: 3px solid #F37;
}
.menu a {
  color: #FFFFFF !important;
  height: 90px;
  line-height: 90px;
  display: block;
  opacity: 0.4;
  transition: 0.3s;
  cursor: pointer;
  padding: 0 15px;
  margin: 0 10px;
  border-bottom: 3px solid transparent;
  padding-bottom: 10px;
  -webkit-backface-visibility: hidden;
}

.header {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-shadow: 2px 1px #0b0e13;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.header .container {
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header .hero {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  -ms-flex-align: center;
  -ms-align-items: center;
}
.header .hero h1.big {
  font-family: "Open Sans", sans-serif;
  font-size: 55px;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  margin-top: 0;
}
.header .hero h2 {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  padding-left: 3px;
  margin-bottom: 0.375em;
  display: block;
  margin-top: 0;
  max-width: 900px;
}
.header .learn-more {
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.header .learn-more span {
  display: block;
  line-height: 20px;
  font-size: 14px;
  color: #FFF;
}
.header .learn-more i {
  position: relative;
  text-align: center;
  width: 100%;
  top: 0;
  animation: bounce 2s infinite;
  color: #FFF;
}

.body .title {
  font-family: "Roboto", sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  color: #0C0E13;
  margin-bottom: 0.2em;
  text-align: center;
  display: block;
}
.body .section-body p {
  margin-bottom: 0;
}
.body .section-work .row {
  border-bottom: 1px solid #d6e1e5;
}
.body .section-work .row .project-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: 15px;
}
.body .section-work .row .project-title a {
  color: #0B0C12;
}
.body .section-work .row .project-title a:hover {
  color: #E74C3C;
}
.body .section-work .row .project-meta ul {
  margin: 0;
  padding: 0;
}
.body .section-work .row .project-meta ul.tag li {
  list-style-type: none;
  background: #E74C3C;
  color: #FFF;
  font-size: 12px;
  padding: 3px 10px;
  margin: 3px 0;
  border: 1px solid #e2e2e2;
  display: inline-block;
}

.section-contact {
  padding: 70px 0;
}

.fatField {
  color: #3b3b3b;
  height: 50px !important;
  font-size: 16px;
  background: white;
  padding-top: 0;
  margin: 5px 0;
  border: 1px solid #cccccc;
  padding-bottom: 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
  transition: 0.3s;
  padding: 0 10px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
}
.fatField:hover {
  border-color: #8d8d8d;
}
.fatField:focus {
  outline-style: none;
  border-color: #8d8d8d;
}
.fatField.error {
  border-color: #E74C3C;
}
button.fatField {
  background: transparent;
  box-shadow: none;
  border-color: #F37;
  color: #F37;
  font-size: 15px;
  font-weight: normal;
  height: auto !important;
  padding: 8px 15px;
  cursor: pointer;
}
button.fatField:hover {
  background: #F37;
  border-color: #F37;
  color: #FFF;
}
button.fatField.loading {
  background: #F37;
  border-color: #F37;
  color: #FFF;
}

textarea.fatField {
  height: 150px !important;
  padding: 10px;
  resize: none;
}

select.fatField {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: url(/wp-content/themes/jevelin/img/down-arrow.png) no-repeat;
  background-size: 10px;
  background-position: 95% 50%;
  border-color: #8d8d8d;
}
select.fatField::-ms-expand {
  display: none;
}

input::placeholder, textarea.fatField::placeholder {
  color: #cbcbcb;
}

input, textarea, select.fatField {
  width: 100% !important;
}

.errors {
  line-height: 50px;
  font-size: 12px;
  color: #E74C3C;
}
.errors i {
  color: #E74C3C;
}

.form-success {
  text-align: center;
  font-size: 15px;
  padding: 40px 0px;
  color: #27ae60;
}
.form-success i {
  margin-bottom: 10px;
  font-size: 30px;
  color: #27ae60;
}

.footer {
  margin: 150px 0 0;
  padding: 35px 0 25px;
  text-align: center;
  background: #0C0E13;
}
.footer .fa-heart {
  color: #F47;
}
.footer a {
  color: #17c0eb;
}
.footer div {
  color: #bfbfbf !important;
  font-style: italic;
  opacity: 0.9;
}

@media (min-width: 768px) {
  form .button {
    text-align: left !important;
  }
}
@media (min-width: 576px) {
  .header {
    padding: 0 50px;
  }
  .header .menu ul {
    text-align: right;
  }
  .header .hero .big {
    line-height: 1.5em;
    margin-bottom: 0;
  }
  .header .learn-more {
    padding: 35px 0;
  }

  .body .space {
    padding: 150px 0px;
  }
  .body .section-work .row {
    padding: 130px 0;
  }
  .body .section-work .row .description {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  form .button {
    text-align: center;
  }
  form .errors {
    line-height: 50px !important;
  }
  form .errors i {
    float: none !important;
    margin: 0 5px 0 0 !important;
  }
}
@media (max-width: 576px) {
  .header .menu ul {
    text-align: center;
  }
  .header .hero .big {
    line-height: 1.2em;
    display: block;
    margin-bottom: 25px;
  }
  .header .learn-more {
    padding: 35px 0 80px;
  }

  .body .space {
    padding: 75px 0;
  }
  .body .section-work .row {
    padding: 80px 0;
  }
  .body .section-work .row .description {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .body .section-work .row .description .project-title {
    text-align: center;
  }

  form .button {
    text-align: center;
  }
  form .errors {
    line-height: 20px;
    margin-bottom: 15px;
  }
  form .errors i {
    float: left;
    margin: 10px 10px 15px 0;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 1140px) {
  .hero {
    max-height: 70% !important;
  }
  .hero h2 {
    max-width: 900px;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 960px) and (max-width: 1140px) {
  .hero {
    max-height: 70% !important;
  }
  .hero h2 {
    max-width: 800px !important;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 768px) and (max-width: 960px) {
  .hero {
    max-height: 70% !important;
  }
  .hero h2 {
    max-width: 700px !important;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 576px) and (max-width: 768px) {
  .hero {
    max-height: 70% !important;
  }
  .hero h2 {
    max-width: 500px !important;
  }
}
@media all and (-ms-high-contrast: none) and (max-width: 576px) {
  .hero h2 {
    max-width: 300px !important;
  }
}

/*# sourceMappingURL=main.css.map */
